.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
	font-size: inherit;
}

.my-image {
  width: 30%;
}

.nav-marchio {
  padding: 10px 10px;
  width: 60px;
}

.repo-language-color {
  position: relative;
  top: 1px;
  display: inline-block;
  width: 12px;
  height: 12px;
  border: 1px solid var(--color-primer-border-contrast);
  border-radius: 50%;
}

.pinned-item-meta {
  display: inline-block;
}

.octicon {
  display: inline-block;
  overflow: visible !important;
  vertical-align: text-bottom;
  fill: currentColor;
}

/*.main {
  position: absolute;
  visibility: hidden;
  width: 0;
  height: 0;
}*/

.loading {
  position: fixed; 
  background-color: #3873b2; 
  width: 100%; 
  height: 100%
}

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateY(-50%);
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media only screen and (max-width: 600px) {
  .my-image {
    width: 200px;
  }
}