.ipynb_checkpoints
__pycache__
path.txt
.vscode
*.mp4
Prova*.py
.qt_for_python
scraper
Annotation_Study/Quantitative_Study.md
LSTM/Prove
LSTM/runs
VIDEO
VIDEO_DA_SCARTARE
Actions
Annotation
HandPoses
test.csv
train.csv
val.csv
ETICHETTE_MODIFICATE
modelli_overlap
modelli_senza_overlap
random_model
LSTM-Esperimenti
Schema
.metals
Presentazione
Overlap
No_Overlap
UTILS