.ipynb_checkpoints
__pycache__
path.txt
.vscode
*.mp4
Prova*.py
.qt_for_python
scraper
Annotation_Study/Quantitative_Study.md
LSTM/Prove
LSTM/runs
VIDEO
VIDEO_DA_SCARTARE
Actions
Annotation
HandPoses
framing_action (copia).csv
test.csv
train.csv
val.csv